<div class="blogposts row-fluid">
  <div class="span" style="display: none;"></div>
  <% @blogpostings.each do |blogposting| %>
      <% if current_user.friends.include?(blogposting.user) || current_user == blogposting.user %>

          <%= render partial: "blogpostings/blogposting", locals: {show_username: TRUE, blogposting: blogposting} %>
  <% end
   end %>
</div>