<div class="span12 well-profile">
  <div class="picture span3"><%= image_tag gravatar(posting.user.email, 40) %></div>
  <header class="span8"><h3><%= link_to posting.user.username, posting.user %></h3></header>
</div>