<div class="userlist row-fluid">
  <div class="span" style="display: none;"></div>
  <% @personalpostings.each do |personalposting| %>
      <% if current_user.friends.include?(personalposting.user) || current_user == personalposting.user %>

          <%= render partial: "shared/personalposting", locals: {personalposting: personalposting} %>
      <% end %>
 <% end %>
</div>