<div class="field">
  <%= b.label :tag_id, "Tag id" %>
  <br>
  <%= b.text_area :tag_id %>
</div>
<div class="field">
  <%= b.label :tag_id, "audioposting id" %>
  <br>
  <%= b.text_area :audioposting_id %>
</div>