<div class="control-group">
  <%= b.label :tag_id, "Tag id", class: 'control-label' %>
  <div class="controls">
    <%= b.text_area :tag_id %>
  </div>
</div>
<div class="control-group">
  <%= b.label :tag_id, "audioposting id", class: 'control-label' %>
  <div class="controls">
    <%= b.text_area :audioposting_id %>
  </div>
</div>