<p id="notice"><%= notice %></p>

<p>
  <strong>Audiofile:</strong>
  <audio controls>
    <source src=" <%= @audioposting.audiofile %>" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>

</p>

<%= link_to 'Edit', edit_audioposting_path(@audioposting) %> |
<%= link_to 'Back', audiopostings_path %>
