<p id="notice"><%= notice %></p>

<p>
  <strong>Audiofile:</strong>
  <%= @audioposting.audiofile %>
</p>

<%= link_to 'Edit', edit_audioposting_path(@audioposting) %> |
<%= link_to 'Back', audiopostings_path %>
