<div class="field">
  <%= b.label :tag_id, "Tag id" %>
  <br>
  <%= b.text_area :tag_id %>
</div>
<div class="field">
  <%= b.label :tag_id, "Blogposting id" %>
  <br>
  <%= b.text_area :blogposting_id %>
</div>