<h1>Blogpostings</h1>

<div class="tag_cloud row-fluid span12">
  <% tag_cloud Blogposting.tag_counts, %w[s m l] do |tag, css_class| %>
      <%= link_to tag.name, blogtag_path(tag.name), class: css_class %>
  <% end %>
</div>

<%= render partial: "shared/blogpostingslist", locals: {:show_username => TRUE} %>