// Place all the styles related to the blogpostings controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tag_cloud {
  margin-bottom: 10px;

  line-height: 1.6em;
  .s {
    font-size: 0.8em;
  }
  .m {
    font-size: 1.2em;
  }
  .l {
    font-size: 1.8em;
  }
}

.blogposts {

  .picture {
    margin-right: 5px;
    float: left;
  }
}

.blogpost-detail {
  background-color: #FFFFFF;
  border: 1px solid #E3E3E3;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  margin-bottom: 20px;
  min-height: 20px;
  padding: 19px;
}