// Place all the styles related to the blogpostings controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tag_cloud {
  width: 400px;
  margin-bottom: 10px;

  line-height: 1.6em;
  .s {
    font-size: 0.8em;
  }
  .m {
    font-size: 1.2em;
  }
  .l {
    font-size: 1.8em;
  }
}

.blogposts {

  .picture {
    width: 10%;
    margin-right: 5px;
    float: left;
  }

  .blogpost {
    height: 100%;
    width: 400px;
    //border: 1px solid gray;
    margin-bottom: 5px;
    padding: 5px;
  }
}