/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.comment {
  border-bottom: 1px solid white;
  background-color: #EDEFF4;
}

.comment-created_at {
  margin: 0 0 0 50px;
}
