/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.comment
{
  width: 325px;
}

.comment:nth-child(even)
{
  background-color: #d3d3d3;
}

.comment:nth-child(odd)
{
  background-color: #bdbdbd;
}

.commenthead
{

  .avatar{
    float: left;
    margin: 4px;
  }
}

.commentbody
{
}