// Place all the styles related to the users controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users {
  .user {
    border: 1px solid gray;
    margin-bottom: 5px;

    .picture {
      vertical-align: center;
      height: auto;
    }
    .data {
    }
  }

}
